ad3==2.0.2
alabaster==0.7.7
Babel==2.3.4
backports.shutil-get-terminal-size==1.0.0
click==6.6
coverage==4.0.3
cv2==1.0
cvxopt==1.1.8
cycler==0.10.0
Cython==0.23.5
dask==0.8.1
decorator==4.0.9
dlib==18.17.100
docutils==0.12
flake8==2.5.4
Flask==0.10.1
functools32==3.2.3.post2
graphviz==0.4.10
h5py==2.6.0
imagesize==0.7.1
ipython==4.2.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
joblib==0.9.4
leveldb==0.193
lmdb==0.89
MarkupSafe==0.23
matplotlib==1.5.1
mccabe==0.4.0
networkx==1.11
nose==1.3.7
numpy==1.11.0
ordereddict==1.1
pandas==0.18.0
pathlib2==2.1.0
pep8==1.7.0
pexpect==4.0.1
pickleshare==0.7.2
Pillow==3.1.1
protobuf==2.6.1
ptyprocess==0.5.1
pydot==1.0.29
pyflakes==1.0.0
Pygments==2.1.3
pyparsing==1.5.7
pyqpbo==0.1.2
pystruct==0.2.4
python-dateutil==1.5
python-dotenv==0.4.0
python-gflags==3.0.5
python-magic==0.4.11
pytz==2016.3
PyYAML==3.11
s3cmd==1.6.0
scikit-image==0.12.3
scikit-learn==0.17.1
scipy==0.17.0
selectivesearch==0.1
setproctitle==1.1.10
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
snowballstemmer==1.2.1
Sphinx==1.4.1
toolz==0.7.4
traitlets==4.2.1
Werkzeug==0.11.9
yolk==0.4.3
